* {
    /*Resetando meu BODY */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url('../images/fundo.jpg'); /* Caminho para a imagem de fundo */
    background-size: cover; /* Ajusta a imagem para cobrir toda a tela */
    background-repeat: no-repeat; /* Evita que a imagem se repita */
    background-position: center center; /* Centraliza a imagem */
    margin: 0; /* Remove a margem padrão do body */
    font-family: Arial, sans-serif; /* Define uma fonte padrão */
}

.game-board { /* Div principal */
    width: 80%;
    height: 500px;
    border-bottom: 15px solid rgb(35, 160, 35);
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    background: linear-gradient(#87CEEB, #E0F6FF);
    border: 4px solid black;
    border-radius: 10px;
    box-shadow: 0px 0px 15px rgba(255, 255, 255, 0.5); /* Sombra branca com opacidade */

}

.pipe { /* Ajustando imagem do Tubo(pipe) */
    position: absolute;
    bottom: 0;
    width: 80px;
    animation: pipe-animation 1.5s infinite linear; /* Uma animacao infinita */ 
}

.mario { /*Class mario */
    width: 150px;
    position: absolute;
    bottom: 0;
}

.jump {
    animation: jump 500ms infinite ease-out; /*Atributos sobre o pulo */
}

.clouds {
    width: 500px;
    position: absolute;
    animation: clouds-animation 20s infinite linear;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 50px;
    font-size: 20px;
}

footer a {
    text-decoration: none; /* Remove o sublinhado dos links */
    color: inherit; /* Mantém a cor do texto */
    transition: transform 0.3s; /* Suaviza a transição */
    margin-left: 10px; /* Adiciona espaço à esquerda do link */
}

footer a:hover {
    transform: scale(1.1); /* Aumenta o tamanho do link ao passar o mouse */
}

@keyframes pipe-animation { /*Incluindo animacao do meu pipe */
    from {
        right: -80px; /* Para ele aparecer como sequencia, nao só do nada */
    }

    to {
        right: 100%;
    }
}

@keyframes jump {

    0% {
        bottom: 0;
    }

    40% {
        bottom: 180px;
    }

    50% {
        bottom: 180px;
    }

    60% {
        bottom: 180px;
    }

    100% {
        bottom: 0;
    }

} /*Animcao de pulo do mario */

@keyframes clouds-animation { /*Animacao das nuvens */

    from {
        right: -500px;
    }

    to {
        right: 100%;
    }
}