* {
    /*Resetando meu BODY */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.game-board { /* Div principal */
    width: 80%;
    height: 500px;
    border: 1px solid #333;
    margin: 0 auto;
    position: relative;
}

.pipe { /* Ajustando imagem do Tubo(pipe) */
    position: absolute;
    bottom: 0;
    width: 80px;
   animation: pipe-animation 2s infinite linear; /* Uma animacao infinita */ 
}

.mario { /*Class mario */
    width: 150px;
    position: absolute;
    bottom: 0;
}

.jump {
    animation: jump 500ms infinite ease-out; /*Atributos sobre o pulo */
}


@keyframes pipe-animation { /*Incluindo animacao do meu pipe */
    from {
        right: -80px; /* Para ele aparecer como sequencia, nao só do nada */
    }

    to {
        right: 100%;
    }
}

@keyframes jump {

    0% {
        bottom: 0;
    }

    40% {
        bottom: 180px;
    }

    50% {
        bottom: 180px;
    }

    60% {
        bottom: 180px;
    }

    100% {
        bottom: 0;
    }

} /*Animcao de pulo do mario */